.titleBar {
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #eeeeee;
    color: #000;
    font-weight: 400;
    text-align: center;
    height: 20px;
    padding: 5px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
.titleBar img {
    width: 60px;
    float: left;
}
.titleBar .minimize svg {
    width: 16px;
}
.titleBar .maximize svg {
    padding-top: 8px;
    width: 11px;
}
.titleBar .minimize svg {
    width: 16px;
}
.titleBar .close svg {
    width: 12px;
    padding-top: 5px;
}
.titleBar .minimize {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 92px;
    padding-bottom: 10.5px;
    padding-left: 14px;
    padding-right: 14px;
}
.titleBar .maximize {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 45px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
}
.titleBar .close {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 0px;
    padding-bottom: 2.5px;
    padding-left: 16px;
    padding-right: 16px;
}
.titleBar .minimize:hover,
.titleBar .maximize:hover {
    background-color: #d6d6d6;
    transition-duration: 0.3s;
}
.titleBar .close:hover {
    background-color: rgb(255, 15, 15);
    color: #ffffff;
    transition-duration: 0.3s;
}
